.pkp_screen_reader {
  @include visually-hidden();
}

.hidden-element {
    display: none;
}

img {
  height: auto;
  max-width: 100%;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

b, strong { 
  font-weight: $font-weight-semibold;
}

a {
  color: $primary;

  &:hover,
  &:focus,
  &:active {
    color: $primary-dark;
  }
}