.page_index_journal {
	padding-bottom: $spacer * 4;
	margin-top: 3rem;

	.heading {
  		.title {
  			font-size: $h3-font-size;
			font-weight: $font-weight-medium;
			margin-top: $spacer * 3;

			@include media-breakpoint-up(sm) {
				margin-top: 0;
			}
  		}
	}

	.sections {
		margin-top: $spacer;

		.section {
			margin-top: 0;
		}
	}

	.obj_issue_toc {
		margin-top: 2rem;
	}

	.cmp_announcements {
		margin-top: $spacer * 2;
	}
}