.page_issue_archive {
	padding-bottom: $spacer * 4;

	.page_title  {
		margin-bottom: $spacer * 2;
		font-size: $font-size-lg-extra;
		line-height: $line-height-sm;
	}

	.cmp_pagination {
		text-align: center;
		margin-top: $spacer * 2;
		color: $white;

		a {
			color: $white;
			text-decoration: none;

			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
			}
		}
	}
}