.page_login {
	.inner-wrapper-bg {
		background-color: $gray-bg;
		padding-top: $spacer * 4;
		padding-bottom: $spacer * 4;
		border: 1px solid $border-color;
	}

	.btn-link {
		margin-left: $spacer / 2;
	}

	.form-wrapper {
		padding: $spacer * 2;
		background: $white;
		box-shadow: 0px 0px 40px 0px $gray-bg;
		border-radius: $border-radius;
		border: 1px solid $border-color;
	}
}

.page.page_login {
	padding-bottom: 0;
}