.page_register, 
.page_register_complete,
.page_lost_password {
	.inner-wrapper-bg {
		background-color: $gray-bg;
		padding-top: $spacer * 4;
		padding-bottom: $spacer * 4;
		border: 1px solid $border-color;
	}

	.contexts {
		@include list-unstyled();
	}

	.form-wrapper {
		padding: $spacer * 2;
		background: $white;
		box-shadow: 0px 0px 40px 0px $gray-bg;
		border-radius: $border-radius;
		border: 1px solid $border-color;
	}
	
	.btn-link {
		margin-left: $spacer / 2;
	}

	#connect-orcid-button {
		display: block;
		background-color: $primary;
		border-color: $primary;
		border-radius: 6px;
		color: $white;
		padding: $spacer / 2 $spacer * 2;
		text-decoration: none;
		font-weight: $font-weight-medium;
		text-align: center;
		cursor: pointer;
		font-size: $font-size-base;

		&:hover,
		&:focus,
		&:active {
			background: $primary-dark;
			color: $white;
		}
	}
}

.page.page_register,
.page.page_register_complete,
.page.page_lost_password  {
	padding-bottom: 0;
}