.pkp_structure_footer_wrapper {
	padding-top: $spacer * 4;
	padding-bottom: $spacer * 2;
	font-family: $font-family-sans-serif;

	.navigation_footer_wrapper {
		text-align: center;

		@include media-breakpoint-up(md) {
			text-align: left;
		}

		.navigation_footer {
			@include list-unstyled();

			li {
				a {
					opacity: 1;
					color: $white;
					text-decoration: none;

					&:hover,
					&:focus,
					&:active {
						opacity: .5;
					}
				}
			}
		}
	}
	
	.pkp_brand_footer {
		text-align: center;

		@include media-breakpoint-up(md) {
			text-align: left;
		}

		a {
			display: inline-block;

			img {
				width: 200px;
				display: block;
				margin-bottom: $spacer * 2;
			}
		}
	}

	.info_contact_wrapper {
		.info_contact {
			text-align: center;

			@include media-breakpoint-up(md) {
				text-align: left;
			}

			.title_info {
				margin-bottom: 0;
			}

			.link_info {
				color: $primary;
			}
		}
	}

	.social_list_wrapper {
		justify-content: center;

		@include media-breakpoint-up(md) {
			justify-content: left;
		}
	}

	.subfooter {
		border-top: 1px solid $gray-700;
		font-size: $font-size-sm;
		padding-top: $spacer;
		padding-bottom: $spacer / 2;
		text-align: center;
		margin-top: $spacer * 2;
		color: $gray-500;

		p {
			margin-bottom: 0;
			a {
				opacity: 1;
				color: $gray-500;
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					opacity: .5;
				}
			}
		}
	}
}
