.header_top_G {
	border-bottom: 1px solid $primary_dark;
	padding-top: $spacer;
	padding-bottom: $spacer;
	margin-bottom: $spacer;
	
	.logo_extra_wrapper_G {
		.logo_ucv {
			width: 220px;
		}
	}
}

.pkp_structure_head {
	font-family: $font-family-serif;

	.head_innerwrapper_G {
		display: flex;
		align-items: center;
	}

	.pkp_navigation_search_wrapper {
		margin-right: $spacer / 2;

		.pkp_search {
			width: 100%;
			position: relative;

			.form-control {
				border: 1px solid $gray-bg;
				background: $gray-bg;
				padding-left: 2.25rem;
				width: 100%;

				@include media-breakpoint-up(md) {
					width: 250px;
				}
			}

			.bi-search {
				font-size: $h6-font-size;
				position: absolute;
				top: 6px;
				left: 12px;
 			}
		}
	}

	.pkp_site_name_wrapper {
		.pkp_site_name {
			display: inline-block;
			text-align: center;

			.logo {
				width: 250px;
			}
		}
	}

	&.is-desktop {
		.pkp_site_nav_menu {
			padding-top: $spacer;
			padding-bottom: $spacer;

			.pkp_navigation_primary_row {
				display: flex;
				justify-content: end;
			}
		}

		.pkp_navigation_primary,
		.pkp_navigation_submission {
			@include list-unstyled();
			margin-bottom: 0;

			> li {
				display: inline-block;
				color: $black;
				margin-right: $spacer;
				position: relative;
				cursor: pointer;
				font-size: $font-size-md;

				&:hover,
				&:focus,
				&:active {
					color: $primary;
				}

				a {
					text-decoration: none;
					color: $black;

					&:hover,
					&:focus,
					&:active {
						color: $primary;
					}
				}

				.submenu {
					@include list-unstyled();
					position: absolute;
					padding: $spacer;
					top: 35px;
					left: -$spacer;
					min-width: 180px;
					background: $white;
					border: 1px solid $input-border-color;
					z-index: 1000;

					> li {
						font-size: $font-size-sm-alt;
						line-height: $line-height-sm;
						margin-right: 0;
						margin-bottom: $spacer / 3;
					}
				}
			}
		}
	}

	.menu_group_wrapper_G {
		display: flex;
		justify-content: end;
		padding-top: $spacer;
		padding-bottom: $spacer;
		align-items: center;
	}

	.pkp_navigation_user_wrapper {
		display: flex;
  		justify-content: flex-end;

		.pkp_navigation_user {
			@include list-unstyled();
			margin: 0;

			> li {
				display: inline-block;

				&.menuitem_lang,
				&.profile {
					position: relative;
					cursor: pointer;

					.submenu {
						position: absolute;
						@include list-unstyled();
						top: 40px;
						padding: $spacer/2;
						width: 140px;
  						left: 0;
  						z-index: 1000;
  						background: $primary_dark;

						a {
							text-decoration: none;
							&:hover,
							&:focus,
							&:active {
								color: $white;
							}
						}
					}
				}

				&.menuitem_lang {
					.submenu {
						width: auto;
					}
				}

				&.menuitem_lang {
					margin-right: $spacer;
					font-size: $font-size-sm-alt;
					padding: $spacer/4 $spacer/2;
					text-transform: uppercase;

					a {
						text-decoration: none;

						&:hover,
						&:focus,
						&:active {
						}
					}
				}

				&.profile {
					text-decoration: none;
					padding: .5rem $spacer;
					font-size: $font-size-sm-alt;
					cursor: pointer;
					border: 1px solid $primary_dark;
					background: $primary_dark;
					color: $primary;

					> a {
						text-decoration: none;

						&:hover,
						&:focus,
						&:active {
							color: $primary;
							background: $primary_dark;
						}
					}
				}
			}
		}
	}
}

// Menú responsive

.pkp_structure_head {
	&.is-desktop {
		display: block;

		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}

// Menú mobile

.pkp_structure_head {
	&.is-mobile {
		display: block;

		@include media-breakpoint-up(lg) {
			display: none;
		}

		.site_name_wrapper_G {
			.pkp_site_name {
				text-align: left;

				.logo {
					width: 200px;
				}
			}
		}

		.pkp_head_wrapper {
			.btn-menu {
				font-size: 3rem;
				text-decoration: none;
				text-align: right;
  				display: block;

				&:hover,
				&:focus,
				&:active {
					opacity: .5;
				}
			}
		}
	}


	.pkp_head_wrapper {
		position: relative;
		
		&.overlay-menu-wrapper {
			background-color: $white;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 1000;
			height: 100vh;
			display: none;

			&.is-open {
				display: block !important;
			}

			.pkp_navigation_user_wrapper {
				margin-top: $spacer * 2;
				margin-bottom: $spacer;
				justify-content: center;
				align-items: center;
			}

			.pkp_site_nav_menu {
				background: $white;
				padding: 0;

				.pkp_navigation_primary_row {
					margin-top: $spacer * 2;
					padding-bottom: $spacer * 2;

					.pkp_navigation_primary,
					.pkp_navigation_submission {
						@include list-unstyled();
						margin-bottom: 0;

						li {
							font-size: $font-size-lg;
							display: block;
							cursor: pointer;
							color: $black;
							margin-bottom: $spacer / 2;

							a {
								text-decoration: none;
								color: $black;

								&:hover,
								&:focus,
								&:active {
									color: $primary;
								}
							}

							.submenu {
								@include list-unstyled();
								margin-top: $spacer;
								margin-bottom: $spacer;

								> li {
									font-size: $font-size-base;
									line-height: $line-height-sm;
									margin-bottom: $spacer / 4;
								}
							}
						}
					}
				}
			}
		}
	}
}



// Estilos para caret en menú
li {
  .bi.bi-caret-down-fill {
    font-size: .75rem;
    margin-right: .25rem;
  }
}