.obj_announcement_summary {
	border-top: 1px solid $black;
	margin-top: $spacer;
	padding-top: $spacer;

	.title {
		font-size: $h5-font-size;
		line-height: $line-height-sm;
		font-weight: $font-weight-normal;
		margin-top: $spacer / 2;
		font-family: $font-family-serif;

		a {
			text-decoration: none;
			color: $primary;

			&:hover,
			&:focus,
			&:active {
				color: $primary-dark;
			}
		}
	}

	.date {
		font-family: $font-family-sans-serif;
		font-size: $font-size-sm;
		line-height: $line-height-sm;
	}	

	.summary {
		margin-top: $spacer;
	}

	.btn.btn-link {
		padding: 0;
	}
}






