.obj_announcement_full {

	.title_page {
		margin-top: $spacer * 3;
		font-weight: $font-weight-light;
	}

	.date {
		font-size: $font-size-base;
		line-height: $line-height-sm;
	}	

	.description {
		margin-top: $spacer;
	}
}






