.pkp_block {
	margin-top: 2rem;
	margin-bottom: 2rem;
	.title {
		font-size: $font-size-lg;
		margin-top: $spacer * 2;
		font-weight: $font-weight-semibold;
	}

	ul {
		@include list-unstyled();
		
	}
}