.btn {
	display: inline-block;
	background-color: $primary;
	color: $white;
	padding: $spacer / 2 $spacer * 4;
	text-decoration: none;
	font-weight: $font-weight-semibold;
	border: 1px solid $primary;
	text-align: center;
	cursor: pointer;
	font-size: $font-size-md;
	position: relative;
	font-family: $font-family-sans-serif;

	.bi-plus {
		background: $primary-dark;
		border: 1px solid $primary-dark;
		color: $white;
		position: absolute;
		right: 0;
		bottom: 0;
	}

	&:hover,
	&:focus,
	&:active {
		background: $primary-dark;
		border: 1px solid $primary-dark;
		color: $white;

		.bi-plus {
			color: $primary-dark;
			background: $primary;
			border: 1px solid $primary;
		}
	}
}

.btn-sm {
	padding: $spacer / 4 $spacer;
	font-size: $font-size-base;
}


.btn-link {
	display: inline-block;
	color: $primary;
	text-decoration: underline;
	cursor: pointer;
	font-size: $font-size-base;

	&:hover,
	&:focus,
	&:active {
		color: $primary-dark;
	}
}