.files {
	margin-top: $spacer;

	.pub_format_single {
		display: inline-block;
	}

	.cmp_download_link {
		display: inline-block;
		font-family: $font-family-sans-serif;
		font-size: $font-size-sm-alt;
		background-color: $gray-bg-light;
		text-decoration: none;
		font-weight: $font-weight-medium;
		padding: $spacer / 2 $spacer;
		color: $gray-text;

		&:hover,
		&:focus,
		&:active {
			background-color: $primary;
		}
	}
}