.obj_issue_toc {
	.heading {
		.current_issue_title {
			font-size: $h5-font-size;
			font-weight: $font-weight-normal;
		}

		.galleys_links {
			> li {
				.obj_galley_link {
					background: $primary;
					color: $white;
					font-size: $font-size-lg;
					padding: $spacer / 2 $spacer * 2;
					border-bottom: 0;
					border-radius: 6px;
					
					&:hover {
						background: $primary-dark;
					}
				}
			}
		}
	}

	.articles_list_wrapper {
		background-color: $gray-bg;
		padding-bottom: $spacer * 4;

		.sections {
			margin-top: 0;
			padding-top: $spacer * 4;
		}
	}
}
