// métricas 

.block_metrics_G {
	.content {
	    display: grid;
	    grid-template-columns: 1fr 1fr;
	    max-width: 100%;
	    margin-top: $spacer * 2;
	    gap: 3px;

	    div {
		    padding: $spacer;
		    text-align: center;
		    border: 1px solid $black;
		    font-size: $h4-font-size;

		    &.metrics_total {
		    	grid-column: auto/span 2;
				grid-row: auto/span 2;
		    }

		    label {
		    	display: block;
		    	font-size: $font-size-base;
		    }
		}
	}

	.btn_wrapper {
		margin-top: $spacer / 2;
		text-align: right;
	}
}