.modal_window_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  //bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999999;
  overflow: auto;
  height: 100%;
  margin-top: 0;

  .modal_window {
    position: relative;
    max-width: 500px;
    margin: auto;
    background-color: $white;
    padding: $spacer * 3 $spacer * 2;
    margin-top: 3rem;
  }
  .downloads_chart.modal_window {
    max-width: 800px;
  }
  .close_button {
    position: absolute;
    right: $spacer;
    top: $spacer;
    cursor: pointer;
    padding: 0.2rem 0.3rem;
    border-radius: 2px;
    color: $black;
    font-size: 1.5rem;
    font-weight: normal !important;
  }
}
