.social_list_G {
	@include list-unstyled();

	li {
		display: inline-block;
		font-size: $h3-font-size;
		margin-right: $spacer / 2;
		
		a {
			text-decoration: none;
			color: $white;

			&:hover,
			&:focus,
			&:active {
				opacity: .5;
			}
		}
	}
}
