.submissions_banner_wrapper_G {
	margin-top: $spacer * 2;


	@include media-breakpoint-up(md) {
		margin-top: 0;
	}

	@include media-breakpoint-up(md) {
		display: flex;
		align-self: flex-end;
		margin-left: -$spacer * 3;
		margin-bottom: -$spacer * 2;
	}

	.submissions_banner_G {
		border-radius: $spacer * 2;
		background: $primary-light;
		padding: $spacer * 2;
		font-size: $font-size-base * 1.125;
		line-height: 1.4em;
		display: flex;
  		flex-direction: column-reverse;

		@include media-breakpoint-up(md) {
			flex-direction: row;
		}

		.text {
			.title {
				font-size: $h4-font-size;
				color: $primary;
			}

			.btn-link { 
				margin-top: $spacer;
				padding: 0;
			}
		}

		.bi {
			color: $primary;
			font-size: $font-size-base * 7;
			padding-left: $spacer;
			align-self: center;
		}
	}
}